{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">about us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">shope with us. make your day great!!!</p>
                </div>
            </div>
        </header>
        <br> <br>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut minima exercitationem reiciendis. 
                            Eos blanditiis odio, et quaerat vel ut inventore magnam placeat, voluptate in beatae deserunt
                            illum voluptatem ullam? Consectetur cumque perferendis sint atque ab illum consequatur, optio
                            officiis voluptates quos modi iure eum consequuntur amet dolor dicta eaque? Cumque accusamus
                            assumenda architecto iure repellat modi nostrum voluptatem perspiciatis, quibusdam iste dolores 
                            provident odio commodi est eius cum ipsum officia soluta labore maxime quo quaerat, itaque delectus.
                            Magni, ea eius natus hic delectus exercitationem labore, voluptatum earum nemo aliquid asperiores corrupti!
                            Quod dolor vel voluptatem quasi iste hic quia tempore praesentium nemo necessitatibus nobis ipsa illo culpa
                            expedita ut odio error ab, minus repellat natus quos rem harum? Laudantium delectus consectetur perferendis
                            eius! Eius placeat officiis expedita enim nostrum voluptas, vero quidem non repellendus cum officia ab nesciunt 
                            nulla inventore consectetur rem, debitis itaque veritatis voluptate distinctio! Neque ipsam provident sapiente? 
                            Enim dolor odit nulla repellat voluptate exercitationem cum sapiente! Itaque nesciunt, illo unde recusandae
                            accusantium distinctio, eius tempore dolore fuga tenetur, expedita dolorem voluptatum aspernatur in autem
                            eveniet excepturi. Odit sint, laboriosam nisi placeat ipsam velit a modi corporis repudiandae esse vel quidem
                            officia ad nulla reiciendis quam iusto. <br><br>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Eum, recusandae nam, dolorum ea magni neque modi corporis
                            consequuntur in officia ipsa odio ad soluta aperiam quisquam dicta consequatur ex 
                            iusto temporibus a sed repellendus est itaque praesentium? Eius saepe doloribus impedit quidem, 
                            quasi odit consequuntur omnis tempora nam incidunt similique? Nostrum molestias dignissimos, dicta 
                            tenetur nobis enim, beatae iste minus illum repudiandae tempore fuga impedit voluptates accusamus! 
                            Quibusdam explicabo nostrum neque nihil facere iusto perspiciatis, vero numquam facilis magni. 
                            Libero modi non, itaque nobis sit rem quasi perferendis harum dolores magnam veritatis, accusamus 
                            doloribus ut inventore, aut minus ipsum maxime?
                        </p>
                        <br> <br>
                    </center>
                </div>
            </div>
{% endblock %}