{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update your profile.!!</h1>
            <p class="lead fw-normal text-white-50 mb-0">You can update your profile here. make your day great!!!</p>
        </div>
    </div>
</header>

<br> <br>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                   
                <form method="post" action="{% url 'update_user' %}">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endif %}
                    <!-- <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Enter you username here...">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div> --
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter you password..">
                    </div>
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    
                    {{ user_update_form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-secondary">Update</button> 
                </form>

            </div>
        </center>
    </div>
</div>

<br> <br> <br> <br> <br>




{% endblock %}